.gameScreen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.playerEmojis {
  display: flex;
  padding: 15px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background-color: #fff;
  width: 470px;
  height: 60px;
}

.players {
  display: flex;
  align-items: flex-start;
  gap: 1px;
  background-color: #fff;
  width: 470px;
  height: 60px;
}

.playerOne {
  display: flex;
  padding: 10px 97px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: #d9d9d9;
  height: 40px;
}

.playerOne h4 {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #d9d9d9;
  margin: 0;
}

.playerTwo {
  display: flex;
  padding: 10px 97px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  height: 40px;
}

.playerTwo h4 {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #fff;
  margin: 0;
}

.gameGrid {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #fff;
}

.gameBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  background-color: #fff;
}

.gameBoxOne,
.gameBoxTwo,
.gameBoxThree {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background-color: #fff;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background: #d9d9d9;
}
